<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<title>Frequently Asked Questions (FAQ)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
	<nav><a href="/" class="back-link">Back</a></nav>
	<main class="faq">
		<div class="container">{{{faq}}}</div>
	</main>
	<script src="/static/main.js"></script>
	<footer class="faq-footer">
		<nav class="social-nav">
			Stay in touch! 
			Follow <a href="https://twitter.com/mick_schroeder" rel="external">@mick_schroeder</a> on Twitter.
			Follow <a href="https://www.linkedin.com/in/schroedermick/" rel="external">@mick_schroeder</a> on LinkedIn.
		</nav>
		<small class="copyright">
			ZoteroBib is copyright © 2018 <a href="http://digitalscholar.org/">Corporation for Digital Scholarship</a>.
			<br/>
			All emojis designed by <a href="https://openmoji.org/" rel="nofollow">OpenMoji</a> – the open-source emoji and icon project. License: <a href="https://creativecommons.org/licenses/by-sa/4.0/#" rel="nofollow">CC BY-SA 4.0</a>
			<br/>
			© 2020 Mick Schroeder, LLC. License: <a href="https://www.gnu.org/licenses/agpl.html" rel="nofollow">GNU AGPL</a>
		</small>
	</footer>
</body>
</html>
