//
// Grid
//

.container {
    max-width: $container-width;
	margin: auto;
    padding: 0 ($grid-gutter-width / 2);
    
    @media (min-width: $bp-md) {
        width: auto; // Reset
        max-width: 768px;
        width: calc(100% - #{$space-md});
	}

	@media (min-width: $bp-xxl) {
    max-width: $bp-lg;
    width: calc(100% - #{$space-xxl});
    }
    
}
/* 
.container-fluid {
	max-width: 1856px;
	margin: auto;
 } */

 .container-fullwidth {
	width: 100%;
	margin: auto;
 }


.row {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  
    @media (min-width: $bp-md) {
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        
        
    }
}

/*     @media (min-width: $bp-sm) {
        .row {
         flex-wrap: wrap;
         display: flex;
         display: -ms-flexbox;
         flex-direction: row;
         -ms-flex-direction: row
         }
        .col.ad {
            display: flex;
            flex: 0;
            margin: 8px 1.5vh;
            width: 100%;
            -ms-flex: 0 0 auto;
        }
        .col.content {
            flex: 1;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1;
        }
        .col.bibl {
            flex: 1;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1;
        }
    }
    @media (min-width: $bp-xl) {
        .row {
         flex-wrap: wrap;
         -ms-flex-wrap: wrap;
         }
        .col.ad {
            flex: 0;
            margin: 8px 1.5vh;
            width: 100%;
            -ms-flex: 0;
        }
        .col.content {
            flex: 1;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1;
        }
        .col.bibl {
            flex: 1;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1;
        }
    }
    
 */
.container-fullwidth.nav {
    background-color: #222;
}  
	
nav.flexbox {
    padding: $space-sm 0 0 0;
    line-height: 1;
    font-size: 1em;

    @media (min-width: 600px){
        padding: 0;
    }   

    ul {
        list-style-type: none;
        padding: 0px;      
    }

    li {
        font-weight: bold;
        cursor: pointer;
        //margin: 11px 0;
        padding: 0.7em 0.7em;
        color: #f0f0f0;
    }   

    a {
        font-weight: bold;
        color: #f0f0f0;
      
      @media (min-width: 42em){
        font-size: 1rem;
      }
    }
}

nav.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	//background-color: #fff;
	
	@media (min-width: 600px){
        justify-content: space-between;
    }

    > a {
        @media (min-width: 600px){
            margin-bottom: 0px;
        }
    }

    .fullwidth {
        flex: 0 0 100%;
        justify-content: center;

        @media (min-width: 600px){
            flex: 0 1 auto;
        }
    }

    ul {        
        display: flex;
        align-items: center;
    }

    ul li {
        flex: auto;
        //margin-right: 10px;
        //margin-top: 10px;
        text-align: center;

        @media (min-width: 600px){
            flex: 0 0 auto;
            margin-right: 20px;
            margin-top: 0;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.advertisement {
    margin: 0 auto;
    text-align:center;
}